.btn{
  margin: 0 5px;
  color: #000;
  text-align: center;
  font-size: 18px!important;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 30px;
  &:hover{
    box-shadow: 1.5px 1.5px 5px rgba(0,0,0,0.5);
  }
}
.btn-square{
  padding: 15px 30px;
  border-radius: 3px!important;
}
.btn-radios{
  border-radius: 25px;
  padding: 13px 15px;
}
.btn:disabled,
.btn.disabled{
  cursor: default;
  background-color: rgba(0,0,0,0.1);
}
