//_cards
.card-panel,
.card {
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5), 2px 2px 10px rgba(0,0,0,0.5);
}
.card-panel {
  padding: 24px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 4px;
  background-color: #fff;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 4px;

  .card-title {
    font-size: 24px;
    font-weight: 300;
    &.activator {
      cursor: pointer;
    }
  }
  &.small, 
  &.medium, 
  &.large {
    position: relative
  }
  &.small .card-image, 
  &.medium .card-image, 
  &.large .card-image,
  &.biger .card-image {
    max-height: 100%;
    overflow: hidden;
  }
  &.small .card-image + .card-content, 
  &.medium .card-image + .card-content, 
  &.large .card-image + .card-content,
  &.biger .card-image + .card-content {
    max-height: 40%;
  }
  &.small .card-content,
  &.medium .card-content,
  &.large .card-content,
  &.biger .card-content {
    max-height: 100%;
    overflow: hidden;
  }
  &.small .card-action,
  &.medium .card-action,
  &.large .card-action,
  &.biger .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.small{
    height: 100px;
  }
  &.medium{
    height: 200px;
  }
  &.large{
    height: 300px;
  }
  &.biger{
    height: 400px;
  }
   .card-image {
    position: relative;
    img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    .card-title {
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;
      padding: 24px;
    }
  }
  .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    p {
      margin: 0;
      color: inherit;
    }
    .card-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;
      i {
        line-height: 32px;
      }
    }
    i.mdi {
      font-size: 70px;
    }
  }
  .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160, 0.2);
    padding: 16px 24px;
    a:not(.btn):not(.btn-square):not(.btn-square):not(.btn-radios){
      color: #ffab40;
      margin-right: 24px;
      transition: color .3s ease;
      text-transform: uppercase;
      &:hover {
        color: #ffd8a6;
      }
    }
  }
}
