.margin-bottom{
   margin-bottom: 16px;
}

.border-bottom li {
   color: #000;
   border-bottom: 1.5px solid rgba(0, 0, 0, .2);
   padding: 10px 10px;
}

.ul-border {
  color: #000;
  border: 1px solid #000;
  li{
    padding: 10px 10px;
    border-bottom: 1.5px solid rgba(0, 0, 0, .2) ;
  }
}
.item-active{
   background-color: black;
   color: #fff;
}
.hoverable li:hover{
   background-color: rgba(0, 0, 0, .1)
}
.hoverable li.item-active:hover{
   background-color: black;
   color: #fff;
}