//_reset.sass
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: arial;
  outline: none;
  font-family: roboto;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: roboto;
}
.first-title{
	font-size: 60px;
}
.second-title{
	font-size: 55px;
}
.third-title{
	font-size: 50px;
}
.fourth-title{
	font-size: 45px;
}
.fifth-title{
	font-size: 40px;
}
.sixth-title{
	font-size: 35px;
}
