.container {
	margin: 0 auto;
	padding: 0 15px;
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
	.container {
		max-width: $screen-xs;
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.container {
		max-width: $screen-sm;
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	.container {
		max-width: $screen-md;
	}
}

@media (min-width: $screen-lg-min) {
	.container {
		max-width: $screen-lg;
	}
}